* text=auto
*.py   text eol=lf
*.js   text eol=lf
*.css  text eol=lf
*.html text eol=lf
*.md   text eol=lf
*.yaml text eol=lf
*.yml  text eol=lf
*.bat  text eol=crlf
*.cmd  text eol=crlf
*.ps1  text eol=crlf
